#chat-screen {
  background-color: #abc1d1;
  height: 500vh;
}
#chat-screen .status-bar,
#chat-screen .alt-header {
  background-color: #abc1d1;
  top: 0;
}
#chat-screen .status-bar {
  z-index: 2;
}
#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}

.main-chat {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: white;
  background-color: rgba(150, 150, 150, 0.5);
  padding: 10px 15px;
  border-radius: 25px;
  margin-bottom: 25px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  opacity: 0;
}

.main-chat > div:nth-child(1) {
  animation: fadeIn 0.8s linear;
}
.main-chat > .message-row {
  animation: fadeInLeft 0.8s linear forwards;
}
.main-chat > .message-row--own {
  animation: fadeInRight 0.8s linear forwards;
}
.main-chat > div:nth-child(2) {
  animation-delay: 0.8s;
}
.main-chat > div:nth-child(3) {
  animation-delay: 1.6s;
}
.main-chat > div:nth-child(4) {
  animation-delay: 2.4s;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 35%;
  margin-right: 10px;
}
.message__author {
  opacity: 0.8;
  font-size: 16px;
  margin-bottom: 7px;
  display: block;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__bubble {
  font-size: 18px;
  background-color: white;
  padding: 14px;
  border-radius: 18px;
  border-top-left-radius: 0;
}
.message-row--own {
  justify-content: end;
}
.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 18px;
  border-top-right-radius: 0;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}
.message__time {
  opacity: 0.8;
  font-size: 14px;
  margin: 0 7px;
}
